<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
        <meta charset="UTF-8">
        <title>
            Cart Items
        </title>
    </head>

    <body>
        <div class="main">
            {% if csongs %}
                <p>You have {{ csongs|length }} song{{ songs|pluralize }} in your cart.</p>
                <ul>
                    {% for song in csongs %}
                    <li>{{ song.title }}</li>
                    <!--<a href="{% static song.song.local_link %}">Click to Play</a>-->
                    {% endfor %}
                </ul>
            {% else %}
                <p>Empty Cart</p>
            {% endif %}
            <br>
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/cart/checkout">Checkout</a>
        </div>
    </body>
</html>