<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
        <meta charset="UTF-8">
        <title>
            Ready to Download
        </title>
    </head>

    <body>
        <div class="main">
            {% if csongs %}
                <p>You have {{ csongs|length }} song{{ songs|pluralize }} in your order.</p>
                <ul>
                    {% for song in csongs %}
                    <li>{{ song.title }}</li>
                    <a href="{% static song.local_link %}" download>Click to Download</a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Empty</p>
            {% endif %}
            <br>
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/history">History</a>
        </div>
    </body>
</html>