<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
        <meta charset="UTF-8">
        <title>
            Download History
        </title>
    </head>

    <body>
        <div class="main">
            {% if error %}
                <p style="color: red;">No history</p>
            {% endif %}
            {% if songs %}
                <p>You have downloaded {{ songs|length }} song{{ songs|pluralize }}.</p>
                <p>Lat Update on {{ uh.datetime }}</p>
                <table style="width:100%">
                    <tr>
                        <th>Title</th>
                        <th>View Count</th>
                        <th>Download Count</th>
                    </tr>
                    {% for song in songs %}
                    <tr>
                        <td><a href="{% static song.local_link %}"  download>{{ song.title }}</a></td>
                        <td>{{ song.view_count }}</td>
                        <td>{{ song.download_count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>0 Downloaded Song</p>
            {% endif %}
            <br>
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/downloads/download_page">Download</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/downloads/search">Search</a>
        </div>
    </body>
</html>