<!DOCTYPE html>
{% load static %}
{% load embed %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static "styles/style_home.css" %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>

    <body>
        <div class="main" id="main">
            <div class="headerWrapper">
 				<div class="logo">
 						<img src="http://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png" width="30px" height="30px">&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Hi {{ name }}</strong>
 				</div>
 				<div class="navmenu">
                    <a href="/history">History</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/cart">Cart</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/accounts/logout">Logout</a>
                    <!--<form action="/cart" method="GET">-->
                        <!--<input type="hidden" name="cart" id="mycart">-->
                        <!--<input type="submit" value="Cart">-->
                    <!--</form>-->

                </div>
			</div>

			<div class="middle">
                {% if error %}
                    <p style="color: red;">Please enter the correct link</p>
                {% endif %}
				<form action="{% url 'home' %}" method="get">
                <input type="text" name="dl" size="50px">
                <input type="submit" value="Download">
            	</form>
			</div>

			<div class="three-block" id="t1">
                <ul class="top" id="h1">
                    {% for song in songs %}
                            <ui class="base">
                                <!--<img src={{ song.thumbnail }} height="150px" width="100%">-->
                                <iframe width="100%" height="150px" src={{ song.youtube_link|embed }} frameborder="0" allowfullscreen></iframe>
                                <strong>{{ song.title }}</strong><br><br>
                                <input class="addtocart" id="{{ song.id }}" type="submit" value="Add to cart">
                                <!--<a target="_blank" href={{ song.youtube_link }}>Show on YouTube</a>-->
                            </ui>
                    {% endfor %}
                </ul>
			</div>

            <div id="bu"><button id="button">Show More</button>{% csrf_token %}</div>
        </div>
    </body>

    <script>
        count = 9;
        $('#button').click(function() {
            count = count + 3;
            $.ajax({
                url: 'temp',
                error: function() {
                    $('#button').remove();
                },
                data: {
                    'count': count
                },
                success: function(data) {
                    $('#h1').append(data);
                },
                type: 'GET'
            });
        });
    </script>

    <script>
            var cart = [];
            $(document.body).on('click', '.addtocart', function() {
                id = (this.id);
                var b = '#'+id;
                $(b).hide();

                <!--if (jQuery.inArray(id, cart) == 0)-->
                    <!--alert('Song already in cart');-->
                <!--else-->
                cart.push(id);

                $.ajax({
                    url: 'cart',
                    error: function() {

                    },
                    data: {
                        'cart': id,
                    },
                    success: function(event) {

                    },
                    type: 'GET'
                });
                <!--document.getElementById('mycart').value = cart;-->
            });

    </script>

    <script>
        var cis = {{ ids }};
        <!--var sum = 0;-->
        $(document.body).ready(function() {
            $.each( cis, function( index, value ){
                <!--sum += value;-->
                var id = '#'+value;
                $(id).hide();
            });
            <!--console.log(sum);-->
        });
    </script>
</html>