{% load embed %}
{% load static %}
{% if error %}
    <p style="text-align: center;">No more to show</p>
{% else %}
    {% for song in songs %}

            <ui class="base">
                <!--<img src={{ song.thumbnail }} height="150px" width="100%">-->
                <iframe width="100%" height="150px" src={{ song.youtube_link|embed }} frameborder="0" allowfullscreen></iframe>
                <strong>{{ song.title }}</strong><br>
                <p>View Count : {{ song.view_count }}</p>
                <p>Download Count : {{ song.download_count }}</p>
                {% if utype == 'N' %}<input class="addtocart" id="{{ song.id }}" type="submit" value="Add to cart">{% endif %}
                {% if utype == 'P' %}<a href="{% static song.local_link %}">Download</a>{% endif %}
            </ui>

    {% endfor %}
{% endif %}
