<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
        <title>
            Download
        </title>
    </head>

    <body>
        <div class="main">
            {% if error %}
                <p style="color: red;">Please enter the download link.</p>
            {% endif %}
            <form action="download/" method="get">
                <input type="text" name="q">
                <input type="submit" value="Download">
            </form>
            <br>
            <a href="/downloads/history">History</a>
        </div>
    </body>
</html>